{% extends 'base.twig' %}

{% block title %}Detail du produit
{% endblock %}

{% block body %}
    <h2 class="mt-2">Detail du produit :
        {{ product.name }}</h2>
    <section class="row">
        <div class="carousel slide" data-ride="carousel" id="carouselExampleSlidesOnly">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="Image de {{ product.name }}" class="d-block w-1000 img-fluid" src="/img/uploads/{{ product.imageName }}">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">{{ product.getShortDescription() }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
